/* General */  
body {
    width: 800px;
    margin: 0 auto;
}
 /* Typography */  

/* block styling */  

/* Form styling */  
p {
    border: 5px solid rgb(0, 0, 0);
  }
/* Styling the products display */ 
