 
 /* General */
 body,
 html {
     height: 100%
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
  font-family: "Roboto", "Arial", sans-serif;
 }

 .products {
     display: flex;
     flex-wrap: wrap;
 }

 .img_wrap {
   display: flex;
   flex-direction: column;
   
   padding:2%;
   flex: 1 16%;

   background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
 }

 .bgimg {
     background-repeat: no-repeat;
     background-size: cover;
     background-color: black;
     min-height: 60%;
 }


/*  Form styling */

main {

  display: flex;
  flex-flow: row;
 
}


aside {
  display: flex;
  align-items: initial;
  background: url(images/Background.jpeg) no-repeat 50% center;

}

aside div {
  margin-bottom: 0px;
}
/*NAVBAR*/

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a,
        .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover,
        .dropdown:hover .dropbtn {
            background-color: red;
        }

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    

/* Styling the products */


section {
  width: 40%;
  margin: 5px;
  box-align: stretch;
  background-color: white;
  position: relative;
  height: 500px;
}

section p {
  color: lightsteelblue;
  line-height: 30px;
  text-align: center;
  border-radius: 10%;
  box-shadow: 2px 2px 1px gainsboro;
  position: absolute;
  right: 50px;
  bottom: 20px;
  
}


.item {
  background-size: 250px 24px;
}


.item img {
  
  width: 450px;
    height: 300px; 
    
    display: inline;
    position: inherit;
    bottom: 0px;
    margin-left: 10px;
    
}


